[
  {
    "userId": 1,
    "id": 0,
    "name": "Joe",
    "title": "The cutting edge solution to rising debt? Paying in cash",
    "body": "A growing number of Gen Z and Millennial debtors are getting a handle on their finances by spending actual paper money: no Apple pay, no Venmo, no cards."
    "images": "../1.jpg",
    "comment1name": "Allen",
    "comment2name": "Alice",
    "comment1": "very good",
    "comment2": "That's cool",
    "likeCount": "2",
    "commentCount": "2"
  },
  {
    "userId": 1,
    "id": 1,
    "name": "Alex",
    "title": "Ukrainian women have started learning a crucial war skill: how to fly a drone",
    "body": "KYIV, Ukraine — Ukrainian women have played a crucial part in their country's resistance to Russia's full-scale invasion. Now, a new school is training women to play a vital new role."
    "images": "../2.jpg",
    "comment1name": "Ben",
    "comment2name": "Billy",
    "comment1": "wwww",
    "comment2": "amazing!!",
    "likeCount": "2",
    "commentCount": "2"
  },
  {
    "userId": 1,
    "id": 2,
    "name": "Amada",
    "title": "Frontier Airlines drops its customer service line",
    "body": "Frontier airlines will no longer let customers call a phone number in order to speak with a live agent. And while the budget airline is known for its cost-cutting measures, most major airlines still operate customer service lines."
    "images": "../3.jpg",
    "comment1name": "Cindy",
    "comment2name": "Cris",
    "comment1": "um.....",
    "comment2": "cool",
    "likeCount": "2",
    "commentCount": "2"
  },
  {
    "userId": 1,
    "id": 3,
    "name": "Joe",
    "title": "The Museum of Broadway reveals the show behind the show",
    "body": "A few years ago, Tony Award-winning producer Julie Boardman and Diane Nicoletti, who's created fan experiences for Game of Thrones and Marvel, were chatting at an event. Boardman said that one of her investors asked why there wasn't a Broadway museum."
    "images": "../4.jpg",
    "comment1name": "Danny",
    "comment2name": "Dr.",
    "comment1": "wow",
    "comment2": "perfect",
    "likeCount": "2",
    "commentCount": "2"
  }
]